Notificador de Nuevos Datos.json
{
  "name": "Notificador de Nuevos Datos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": " /notify",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -96,
        -16
      ],
      "id": "e6332a6c-76f3-4177-ad66-8386da37d90e",
      "name": "Webhook",
      "webhookId": "17ad9bf1-0b97-4761-8a49-5ab8dfb9814f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "34edc34e-7023-48de-9359-ed8a13355ccd",
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "^[a-zA-Z0-9_%.+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        112,
        -16
      ],
      "id": "e610d495-0ead-4f4f-9fb8-315c29c9e8a2",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "Jacksonnm311@gmail.com",
        "subject": "Nuevos datos recibidos en N8N",
        "message": "=<!DOCTYPE html> <html lang=\"es\"> <head>     <meta charset=\"UTF-8\"> </head> <body style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #ffffff; margin: 0; padding: 20px;\">     <div style=\"max-width: 600px; margin: 0 auto; padding: 30px; border-left: 4px solid #2196F3;\">         <h2 style=\"color: #333333; margin-top: 0;\">Mensaje recibido</h2>         <div style=\"background-color: #f5f5f5; padding: 20px; border-radius: 5px; margin: 20px 0;\">             <p style=\"color: #555555; font-size: 15px; line-height: 1.8; margin: 0; white-space: pre-wrap;\">{{ $('Webhook').item.json.body.mensaje }}</p>         </div>         <p style=\"color: #999999; font-size: 12px; margin-top: 30px;\">             <strong>Fecha:</strong> {{ $now.toFormat('dd/MM/yyyy HH:mm') }}         </p>     </div> </body> </html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        320,
        -112
      ],
      "id": "135bbb28-c4e0-4558-ae9f-b11e20249d2c",
      "name": "Send a message",
      "webhookId": "a8cb02b6-37e8-4624-ace6-9ed4f0e683fa",
      "credentials": {
        "gmailOAuth2": {
          "id": "CruVyJ2SIZKqcI7D",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7dc888b4-5fba-4ea5-b213-9d81d0e77bdc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf27e0a699a34a60d46bd938ffd78a50f794f69e74b8cc2d1e79448d741af3bb"
  },
  "id": "7dIVI4pgQ72JEWzl",
  "tags": []
}