AUTOMATIZACION Y CONTROL TRABAJO 1/Sistema Avanzado de Contacto - Formulario Web.json
{
  "name": "Sistema Avanzado de Contacto - Formulario Web",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ContactoFormulario",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "4082dcf9-98e4-4a33-b2a4-07673b0b10ca",
      "name": "Webhook",
      "webhookId": "ed5f5bc2-2947-4be4-b7fe-bc0ed33e2151"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ecd72580-58f4-4b67-b467-0b6b4c52546c",
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "^[a-zA-Z0-9_%.+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "1b6aa84d-267d-4533-b9a5-58ded6662f5c",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ef3e22ce-d4f0-4714-ad00-8969d358a89d",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "e87c9645-8017-425e-a02f-75fb6fbfa4ad",
              "name": "id_solicitud",
              "value": "={{ (Math.random().toString(16).substring(2, 10) + \"-\" +     Math.random().toString(16).substring(2, 6) + \"-\" +     Math.random().toString(16).substring(2, 6) + \"-\" +     Math.random().toString(16).substring(2, 6) + \"-\" +     Math.random().toString(16).substring(2, 14)) }}",
              "type": "string"
            },
            {
              "id": "49ca04fe-9402-4dd4-855b-1e707efd1013",
              "name": "estado",
              "value": "\"NUEVO\"",
              "type": "string"
            },
            {
              "id": "8726de5c-14db-4816-be37-26e8bc9659ec",
              "name": "asignado_a",
              "value": "\"Soporte Técnico\"",
              "type": "string"
            },
            {
              "id": "9aba6e82-3a01-411e-b375-3b2dbbb47f57",
              "name": "origen_sistema",
              "value": "\"Formulario Web - Sistema n8n\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        -96
      ],
      "id": "f104856c-4647-4d07-acfe-7367f5f3cc5f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "=Nueva Solicitud de Contacto - {{ $('Webhook').item.json.body.nombre }}",
        "message": "=<!DOCTYPE html> <html lang=\"es\"> <head>     <meta charset=\"UTF-8\">     <style>         body { font-family: 'Segoe UI', Tahoma, Geneva, sans-serif; background-color: #f5f5f5; margin: 0; padding: 20px; }         .container { max-width: 700px; margin: 0 auto; background: white; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1); overflow: hidden; }         .header { background: linear-gradient(135deg, #1a2f4b 0%, #2d5a8a 100%); color: white; padding: 30px; }         .header h2 { margin: 0; font-size: 24px; }         .content { padding: 30px; }         .field { margin-bottom: 20px; }         .label { color: #2d5a8a; font-weight: bold; font-size: 13px; text-transform: uppercase; letter-spacing: 1px; margin-bottom: 5px; }         .value { color: #333; font-size: 15px; line-height: 1.6; padding: 10px; background: #f9f9f9; border-left: 3px solid #00d4ff; }         .footer { background: #f9f9f9; padding: 20px; text-align: center; color: #666; font-size: 12px; border-top: 1px solid #ddd; }         .id-badge { display: inline-block; background: #00d4ff; color: white; padding: 5px 10px; border-radius: 4px; font-size: 12px; margin-top: 10px; }     </style> </head> <body>     <div class=\"container\">         <div class=\"header\">             <h2>✉️ Nueva Solicitud de Contacto Recibida</h2>             <p>Hemos recibido tu mensaje. Nos pondremos en contacto pronto.</p>         </div>                  <div class=\"content\">             <div class=\"field\">                 <div class=\"label\">👤 Nombre Completo</div>                 <div class=\"value\">{{ $json.nombre }}</div>             </div>              <div class=\"field\">                 <div class=\"label\">📧 Email</div>                 <div class=\"value\">{{ $json.email }}</div>             </div>              <div class=\"field\">                 <div class=\"label\">🏢 Empresa</div>                 <div class=\"value\">{{ $json.empresa }}</div>             </div>              <div class=\"field\">                 <div class=\"label\">📱 Teléfono</div>                 <div class=\"value\">{{ $json.telefono }}</div>             </div>              <div class=\"field\">                 <div class=\"label\">🎯 Asunto</div>                 <div class=\"value\">{{ $json.asunto }}</div>             </div>              <div class=\"field\">                 <div class=\"label\">💬 Mensaje</div>                 <div class=\"value\" style=\"white-space: pre-wrap;\">{{ $json.mensaje }}</div>             </div>              <div class=\"field\">                 <div class=\"label\">⚡ Prioridad</div>                 <div class=\"value\">{{ $json.prioridad.toUpperCase() }}</div>             </div>              <hr style=\"border: none; border-top: 1px solid #ddd; margin: 30px 0;\">              <div style=\"background: #f0f7ff; padding: 15px; border-radius: 5px; font-size: 12px; color: #2d5a8a;\">                 <strong>🔍 Detalles del Sistema:</strong><br>                 ID de Solicitud: {{ $json.id_solicitud }}<br>                 Fecha/Hora: {{ $now.toFormat('dd/MM/yyyy HH:mm:ss') }}<br>                 Estado: {{ $json.estado }}<br>                 Asignado a: {{ $json.asignado_a }}             </div>         </div>          <div class=\"footer\">             <p>Este es un email automático del sistema de contacto. Por favor no respondas a este correo. Usa el formulario web para enviar mensajes adicionales.</p>             <p><strong>Corporación Universitaria de Huila - Ingeniería Mecatrónica</strong></p>         </div>     </div> </body> </html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        -96
      ],
      "id": "517f40bc-6892-4ecf-adb4-6686177a618a",
      "name": "Send a message",
      "webhookId": "b9c906f1-2206-4144-be13-56dfe12713ee",
      "credentials": {
        "gmailOAuth2": {
          "id": "33s3l5AmDCnNRQI5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QxGMN6qt3PruahwB7rEJzNnemsNY0Y-ey9CmZFr_itg",
          "mode": "list",
          "cachedResultName": "CONTACTOS - N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QxGMN6qt3PruahwB7rEJzNnemsNY0Y-ey9CmZFr_itg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QxGMN6qt3PruahwB7rEJzNnemsNY0Y-ey9CmZFr_itg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Edit Fields').item.json.id_solicitud }}",
            "NOMBRE": "={{ $('Webhook').item.json.body.nombre }}",
            "EMAIL": "={{ $('Webhook').item.json.body.email }}",
            "EMPRESA": "={{ $('Webhook').item.json.body.empresa }}",
            "TELÉFONO": "={{ $('Webhook').item.json.body.telefono }}",
            "ASUNTO": "={{ $('Webhook').item.json.body.asunto }}",
            "MENSAJE": "={{ $('Webhook').item.json.body.mensaje }}",
            "PRIORIDAD": "={{ $('Webhook').item.json.body.prioridad }}",
            "FECHA/HORA": "={{ $('Edit Fields').item.json.timestamp }}",
            "ESTADO": "={{ $('Edit Fields').item.json.estado }}",
            "ASIGNADO A": "={{ $('Edit Fields').item.json.asignado_a }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOMBRE",
              "displayName": "NOMBRE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMPRESA",
              "displayName": "EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELÉFONO",
              "displayName": "TELÉFONO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ASUNTO",
              "displayName": "ASUNTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MENSAJE",
              "displayName": "MENSAJE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRIORIDAD",
              "displayName": "PRIORIDAD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FECHA/HORA",
              "displayName": "FECHA/HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ESTADO",
              "displayName": "ESTADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ASIGNADO A",
              "displayName": "ASIGNADO A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        -96
      ],
      "id": "4a3710f2-4ac8-4688-b589-10b1a767772b",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0wnZvJF13B4CjJ3t",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "16ATQ2wjNvSbl0d7abwOUUoD6vzDSnfeNI7FEdffOplE",
          "mode": "list",
          "cachedResultName": "ERROR - N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16ATQ2wjNvSbl0d7abwOUUoD6vzDSnfeNI7FEdffOplE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16ATQ2wjNvSbl0d7abwOUUoD6vzDSnfeNI7FEdffOplE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.id_solicitud }}",
            "NOMBRE": "={{ $('Webhook').item.json.body.nombre }}",
            "EMPRESA": "={{ $('Webhook').item.json.body.empresa }}",
            "FECHA/HORA": "={{ $json.timestamp }}",
            "MOTIVO": "={{ $json.Motivo }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOMBRE",
              "displayName": "NOMBRE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "EMPRESA",
              "displayName": "EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FECHA/HORA",
              "displayName": "FECHA/HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MOTIVO",
              "displayName": "MOTIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        640,
        96
      ],
      "id": "3be9c237-35cd-4fff-83c3-3f2d07f44c2b",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0wnZvJF13B4CjJ3t",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ef3e22ce-d4f0-4714-ad00-8969d358a89d",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "e87c9645-8017-425e-a02f-75fb6fbfa4ad",
              "name": "id_solicitud",
              "value": "={{ (Math.random().toString(16).substring(2, 10) + \"-\" +     Math.random().toString(16).substring(2, 6) + \"-\" +     Math.random().toString(16).substring(2, 6) + \"-\" +     Math.random().toString(16).substring(2, 6) + \"-\" +     Math.random().toString(16).substring(2, 14)) }}",
              "type": "string"
            },
            {
              "id": "9aba6e82-3a01-411e-b375-3b2dbbb47f57",
              "name": "origen_sistema",
              "value": "\"Formulario Web - Sistema n8n\"",
              "type": "string"
            },
            {
              "id": "8df66a46-98a8-4def-a32c-9361a2a7fefd",
              "name": "Motivo",
              "value": "\"Email inválido o formato incorrecto\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        96
      ],
      "id": "6ec897a8-15cb-44d9-b86f-c6d0035be97b",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c22a5152-0709-4604-ae47-c55f1ff75448",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dfcf4601e647bc9ea09642bd4ac9e8a3d4c3d6ea516aeb7bf1df7964038dae8d"
  },
  "id": "dduBLtyRmYQ6qA7c",
  "tags": []
}